{% extends "base.html" %}

{% block content %}
    <h1>Remix a Track</h1>
    <form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
            {{ form.song_source.label }}<br>
            {{ form.song_source() }}<br>
        </p>
		<p>
            {{ form.remix_template.label }}<br>
            {{ form.remix_template() }}<br>
        </p>
        <p>
            {{ form.dist_value.label }}<br>
            {{ form.dist_value() }}<br>
			{% for error in form.dist_value.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.posi.label }}<br>
            {{ form.posi() }}<br>
			{% for error in form.posi.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
            {{ form.var.label }}<br>
            {{ form.var() }}<br>
			{% for error in form.var.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
		<p>
            {{ form.allnote.label }}<br>
            {{ form.allnote() }}<br>
        </p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}